@import url("https://fonts.googleapis.com/css?family=Roboto:500,700");
* {
  font-family: Roboto, sans-serif; }

.s-popup-box {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: none; }

.s-popup {
  position: absolute;
  top: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%); }

.s-popup-content {
  padding: 8px 16px;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  min-height: 24px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap; }

.s-greenBg {
  background-color: #10AF59; }

.s-redBg {
  background-color: #E0283E; }

.s-blackBg {
  background-color: #303030; }

.s-textPopup {
  color: white;
  font-size: 14px;
  line-height: 20px;
  padding-left: 17px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.s-iconPopup {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 2px; }

.s-bounce {
  -webkit-animation: bounce 0.3s;
          animation: bounce 0.3s; }

.s-whiteIcon {
  fill: white; }

.s-orangeIcon {
  fill: #FDA21A; }

@-webkit-keyframes bounce {
  10% {
    left: 53%; }
  40% {
    left: 50%; }
  50% {
    left: 52%; }
  80% {
    left: 50%; }
  90% {
    left: 51%; }
  100% {
    left: 50%; } }

@keyframes bounce {
  10% {
    left: 53%; }
  40% {
    left: 50%; }
  50% {
    left: 52%; }
  80% {
    left: 50%; }
  90% {
    left: 51%; }
  100% {
    left: 50%; } }

.s-btn {
  background: none;
  border: none;
  color: rgba(255, 255, 255, 0.8);
  outline: none;
  font-size: 14px;
  line-height: 20px;
  margin-left: 14px;
  padding: 2px; }
  .s-btn:hover {
    cursor: pointer;
    color: white; }

.s-big-text .s-textPopup {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  .s-big-text .s-textPopup .s-buttons {
    width: 100%;
    margin-top: 8px; }
    .s-big-text .s-textPopup .s-buttons button {
      margin-left: 0;
      padding-left: 0;
      margin-right: 14px; }
